body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h1 {
    margin-left: 20px;
}

nav {
    margin-right: 20px;
    display: flex;
    gap: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
}

#calificaciones {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.calificacion {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
}

.calificacion h3 {
    margin-top: 0;
}

.calificacion p {
    color: #555;
}
